<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Muhammad Ali Abbas Khan  </title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Muhammad Ali Abbas Khan.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img  width ="300" height-"300" src="static/ali.jpeg" alt="Muhammad ALi Abbas Khan">
      <h2>Hello.</h2>
      <p class="intro">I am an Full Stack Python Developer and Machine Learning Enthusiast.
         I study in University Of Engineering and Technology Taxila .<span>What can be think can be programmed</span></p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 17 years old because I wanted to make my own video games. Over time, I have gained a wealth of experience designing and developing mobile and web applications.</p>

      </div>
      <div class="skill-row">
        
          <div  class="profile-pic">
              <img class="chilli-img" width ="50" height="140"  src="static/django.png" alt="django img">
           </div>

        <h3>Backend Developement</h3>
        <p>But my best skill is actually in Django. You can see my websites on Github </p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want your own website , look further no more.</h3>
      <p class="contact-message">Let's talk about how awesome your websites can be!</p>
      <a class="btn" href="https://www.linkedin.com/in/muhammad-ali-abbas-khan-417852306/">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/muhammad-ali-abbas-khan-417852306/">LinkedIn</a>
    <a class="footer-link" href="https://x.com/ElisMarketing">Twitter</a>
    <a class="footer-link" href="https://www.facebook.com/profile.php?id=100093691055540">Face Book</a>
    <p class="copyright">© 2024 Muhammad Ali Abbas Khan @ThePythonCoderExpert.</p>
  </div>
</body>

</html>
